﻿@{
    Layout = null;
}
<style>
    .typ { display: inline-block; font-size: 2em; line-height: 2em; width: 25%; margin: 20px; height: 100px; text-align: center; float: left; border: solid 1px #aaa; }
        .typ:hover { background-color: #555; color: #fff; }
</style>
<h2>哪種資產的查詢明細?</h2>
<a href="../Asset/Grid/IT" class="typ">IT資產</a>
<a href="../Asset/Grid/Fixed" class="typ">固定資產</a>
