﻿@{
    ViewBag.Title = "資產明細查詢";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
    string host = System.Configuration.ConfigurationManager.AppSettings["WebHostUrl"].ToString();
}
@Styles.Render("~/Content/ams")
<style>
    #mmain {
        position: relative;
    }
    .table thead tr th {
        font-size: 16px;
        padding: 5px;
        color: #eee;
        cursor: pointer;
        background-color: #444;
    }

    .table tbody tr td {
        font-size: 16px;
        padding: 5px 0;
        color: #444;
    }

    .iconOK { color: Green; font-size: 18px; display: inline-block; margin: 3px 10px; position: inherit; }

    .iconFlag { color: brown; font-size: 18px; display: inline-block; margin: 3px 10px; position: inherit; }

    #LogoTitle h4 {
        padding-left: 80px;
    }

    .sortable td {
    }

    .edit-td .note-dscr {
        display: inline-block;
    }

    .edit-td .btnNote { display: none; cursor: pointer; position: relative; top: 0; left: 0; z-index: 999; margin: 0; }

    .edit-td:hover .btn.btn-info.btnNote { display: inline-block; }

    .edit-note-panel { border: solid 1px #aaa; padding: 5px; width: 100%; margin: 0 0 10px; }

        .edit-note-panel input { padding: 5px; font-size: 1.4em; width: 100%; }

        .edit-note-panel button { margin: 0 5px 0 0; }

    .table thead tr td.td-note { width: 300px; }

    .red { color: red; }

    .selected, .selected td { background-color: #aaa; color: #fff; }
</style>

@{string icon_ok = "", check_status = "", icon_flag = "";}
<div id="mmain">
<div id="LogoTitle"><h4>資產明細查詢</h4></div>
    <table class="table">
        <thead>
            <tr class="sortable">
                <th v-repeat="tdTitle" v-class="td-note: $value=='Note'"
                    v-on="click: onClickSort($value)">
                    {{$value}} <span v-if="sortField==$value" class="glyphicon red glyphicon-sort-by-attributes{{(isRevers)?'':'-alt'}}"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            {{currNote}}
            <tr v-repeat="a : assets | orderBy sortField isRevers" v-class="selected: CurrAssetID==a.AssetID">
                <td>{{a.AssetID}}</td>
                <td>{{a.AssetName}}</td>
                <td>{{a.OwnerGroupID}}</td>
                <td>{{a.EmpName}}</td>
                <td><span v-class="glyphicon:1==1, glyphicon-ok:(a.IsChecked=='Y')">{{a.IsChecked}}</span></td>
                <td><span class="@icon_flag"></span></td>
                <td class="edit-td">
                    <button type="button" class="btn btn-info btnNote btn-sm"
                            v-if="!(a.AssetID===CurrAssetID)"
                            v-on="click: ShowEditPanel(a.AssetID)">
                        Edit
                    </button>
                    <div class="note-dscr">{{a.Note}}</div>
                    <div class="edit-note-panel" v-if="(a.AssetID===CurrAssetID)">
                        <input v-model="a.Note" />
                        <button type="button" class="btn btn-primary" v-on="click: SaveAssetNote(a)">Save</button>
                        <button type="button" class="btn btn-default" v-on="click: HideEditPanel('')">Clear</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>

    <!--
        新功能在這....


    -->
    <script type="text/javascript" src="~/Scripts/src/min.js"></script>
    <script type="text/javascript">
        //MVVM = Model,View,ViewModel
        var v = new Vue({
            el: "#mmain",
            data: {
                assets: null,
                tdTitle: ["AssetID", "AssetName", "OwnerGroupID", "EmpName", "IsCheck", "IsMark", "Note"],
                sortField: "AssetID",
                isRevers: true,
                CurrAssetID: "",
                currNote: "",
                targetAsset: null,
                //test:"<input type='text' />"
            },
            created: function () {
                this.fetchData();
            },
            methods: {
                fetchData: function () {
                    var self = this;
                    $.post("/Asset/GridAjax", {}, function (rs) {
                        self.assets = rs;                           // <-------資料進入點
                    });
                },
                onClickSort: function (fd) {
                    //console.log(fd, this.isRevers);
                    this.sortField = fd;
                    if (this.sortField == fd) {
                        this.isRevers = !this.isRevers;
                    }
                },
                ShowEditPanel: function (assetid) {
                    console.log(assetid);
                    this.CurrAssetID = assetid;
                },
                SaveAssetNote: function (s) {
                    var self = this,
                        b = JSON.parse(JSON.stringify(s));  //s is a vue component, we need to return it as a JS object.
                    console.log(s, b);
                    $.post("/Asset/SaveAsset", b, function (rs) {
                        self.fetchData();
                        self.CurrAssetID = "";
                    });
                },
                HideEditPanel: function (rs) {
                    this.CurrAssetID = rs;
                }
            }
        });
    </script>
