﻿.app { margin:10px auto; width:90%;}
* { font-family:Arial; }
#btns { border: solid 1px #ccc; width:100%; padding:5px; }

#emailTree { float:left; display:inline-block; width:40%; border:solid 2px #eee; padding:10px; overflow:scroll; max-height:660px; }
.node { list-style-type:none; cursor:pointer; border:solid 1px #eee; background-color:#eee; padding:2px 10px; width:70%; }
.AD { width:120px; }
.lb { font-weight:normal; color:#333; margin:2px;}
.lv0 {margin:0 0 0 0px;}
.lv1 {margin:0 0 0 50px;}
.lv2 {margin:0 0 0 100px;}
.lv3 {margin:0 0 0 150px;}
.lv0, .lv1, .lv2, .lv3 { margin-bottom:1px;}
.lab_ad,.lab_gg { float:left; margin:2px; padding:0 4px; width:48%; background-color:#333; color:#fff;  font-weight:normal; font-size:11px; }
.ng-hide {
  /* Not to worry, this will override the AngularJS default...
  display:block!important;
  /* this is just another form of hiding an element */
  position:absolute;
  top:-9999px;
  left:-9999px;
}
.VVN { background-color:#ddd; color:#999; }
/*----Email Details------*/
.EmailDetail { border:solid 1px #aaa; padding:3px; margin:0 10px; width:58%; float:left;}
.EmailDetail table tr td { padding:2px;}
.EmailDetail .txt { padding:3px 5px; width:300px;}
.EmailDetail .btn { padding:3px 8px; border:solid 1px #aaa; background-color:#ddd; }
.glyphicon {float:right; margin:2px; }
.float-left { float:left; }

/*----Log------*/
.Log    { width:100%; border :solid 1px #ccc; paddding:2px; }
.Log table { width:650px; padding:0; margin:0; font-size:10px; }
.Log table tbody, .Log table thead { display:block;}
.Log table tbody { height:500px; overflow:auto; }
.Log table td { border-left:solid 1px #ccc; border-bottom:solid 1px #ddd; background-color:#FFFFCC; padding:2px;  }

.log-title { font-size:12px; color:#444; background-color:gold;}
.Log table td.log-act { width:100px; }
.Log table td.log-grp { width:160px; }
.Log table td.log-pp { width:200px; }
.Log table td.log-isv { width:50px; }
.Log table td.log-updater { width:100px; }
