﻿#StartDate,#EndDate,#StartTime,#EndTime { display:inline-block; }
#StartDate,#EndDate { width:105px;}
#StartTime,#EndTime { width:95px;}
.modal-body{ padding:0 6px;}

.form-group { margin-bottom:7px; }

.rpt-mark { background-color:#222; color:#fff; font-size:11px; width:13px; height:13px; text-align:center; border-radius:10px; }
.isRepeatable { font-size:13px; float:right; width:100%; }
.isRepeatable span,.isRepeatable input[type=checkbox] { float:right; margin:1px 0 0 ; } 
input[type=checkbox].eIsRepeat { margin:0 4px; padding:0; height:22px; }

.rpt_table.table { margin:10px 0 0; padding:6px 0; border-top:dashed 1px #aaa; display:none;}
.rpt_table_recur { margin: 10px 0 0; padding: 6px 0; border-top: dashed 0px #aaa; background-color: #FFE6B0; }
.table tbody tr td { border:solid 0px #fff;}
.table tbody tr td { border-bottom:dashed 0px #ddd; padding:2px; }
.table tbody tr td.rpt-title { padding:6px 10px 0 0; font-size:12px; text-align:right; width:150px; font-weight:800; }
.table tbody tr td.td-rpt-top { padding-top:12px; }
.table tbody tr td.rpt_td2 { padding-top:2px; }

.rpt_sp { font-weight:normal; font-size:12px; vertical-align: text-bottom; color:#666; }
#ddl_rpts,#ddl_rpt_every,#input_starts_on { padding:3px; height:26px; margin:0 10px 0 0; }
#ddl_rpts,#input_starts_on { width:140px;} 
#ddl_rpt_every {width:50px; display:inline-block; }
#cks_rpt_on {}
.lb_chk_rpt_on { font-size:11px; display:inline-block; padding:0 5px 0 0; }
.Sun,.Sat { color:Red;}
.rdo_list { width:100%; font-size:12px; }
.rdo_list .ends_on {  margin:2px 4px; display:inline-block; padding:2px; height:26px; }
#cks_rpt_on input[type=checkbox] { margin:5px 2px 0;}
input.after_occurs { width:70px; }
input.endson_whatday { width:160px; }
span.summary { font-size:13px; font-weight:800; background-color:#fff; padding: 2px 0; }
input[name='e.rdo_rpt_end'] { margin:0 5px 0 0; vertical-align:text-bottom; }
.disabled { background-color:#ddd; }
input[type=radio], input[type=checkbox] { margin:5px 3px 0 0;}
.modal-footer { float:right; width:92%; margin:10px 2%; padding:10px 2%; }
.Agenda { width:200px; }
.brown { color: brown; }