﻿@{
    ViewBag.Title = "Main";
}
@model IEnumerable<MicroFlowSideProj.Models.A_SignCRRForm>
<style type="text/css">
.row { width:100%; border-top:solid 1px #888; padding:3px; margin:2px; }
.row div { display:inline-block; }
.row div { width:120px; padding: 0 3px; overflow:auto; border-left:solid 1px #ddd; margin:0;   }
.row div.R100 {width:90%; padding-left:9%; }
</style>
<div>
@foreach (var e in Model) { 
    <div class="row">
        <div class="sn"><a href="../watch/maillist/?serialnumber=@e.SerialNumber">@e.SerialNumber</a></div>
        <div class="reqDate">@e.ReqDate</div>
        <div class="empno">@e.Empno</div>
        <div class="gamename">@e.GameName</div>
        <div class="affDB">@e.AffectDatabase</div>
        <div>@e.AffectSystem</div>
        <div>@e.Status</div>
    </div>
}
</div>

