﻿@{
    ViewBag.Title = "Tree";
    Layout = null;
    string host = System.Configuration.ConfigurationManager.AppSettings["WebHostUrl"].ToString();
}
<link href="../../Content/bootstrap-theme.css" rel="stylesheet" type="text/css" />
<style type="text/css">
#emailTree { float:left; width:30%; border:solid 2px #aaa; padding:10px;  }
.node { list-style-type:none; cursor:pointer; border:solid 1px #aaa; background-color:#eee; padding:2px 10px; width:70%; }

.lv0 {margin:0 0 0 0px;}
.lv1 {margin:0 0 0 50px;}
.lv2 {margin:0 0 0 100px;}
.lv3 {margin:0 0 0 150px;}
.lv0, .lv1, .lv2, .lv3 { margin-bottom:1px;}
</style>

<h2>Email Tree</h2>
<ul id="emailTree"></ul>

@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    var qemail = "";
    $(function () {
        $.post("@host/Query/TreeJson", {}, function (rs) {

            var ss = "";
            var d = {};
            for (var i in rs) {
                d = rs[i];
                ss += "<li class='node lv" + d.lv + "' title=" + d.pp + " data-id=" + d.sort + " data-sn='" + d.sn + "' data-sortname='" + d.sortname + "' data-hide='y'>" + d.c + "</li>";
            }
            $("#emailTree").html(ss);

            $(".node").click(function (e) {

                var ssn = $(this).data("sortname") + "/";
                console.log(ssn);
                var ishide=$(this).data("hide");
                $(".node").each(function (i, n) {
                    var ssnn = $(n).data("sortname");
                    var k = ssnn.indexOf(ssn);
                    console.log(ssnn, k);
                    if (ssnn.indexOf(ssn) >= 0) {
                        if(ishide=="y"){
                            $(n).hide("fast");
                        }else{
                            $(n).show("fast");
                        }
                    }
                });
                $(this).data("hide", (ishide=="y")?"":"y");
            });

        });
    });

   
   
</script>