﻿@model Reservation.ViewModels.ReservViewModel
@{
    Reservation.Models.Reserve rsv = Model.Reserves;
}
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"> Add an event...</h4>
            </div>
            <div class="modal-body">
                
                <form class="form-horizontal" role="form" id="FormPanel" action="~/MeetingRoom/Save" method="post" >
                    <input type="hidden" id="e_sn" name="e.sn" />
                    <input type="hidden" id="e_guid" name="e.guid" />
                    <input type="hidden" id="e_IsEnabled" name="e.IsEnabled" />
                    <input type="hidden" id="e_Creator" name="e.Creator" />
                    <input type="hidden" id="e_RepeatID" name="e.RepeatID"  />
                    <input type="hidden" id="input_starts_on" name="e.RepeatAgenda.RptStartDate" data-summary="自 {} 開始重複" value="@rsv.RA_RptStartDate"  />
                    <input type="hidden" id="hidden_rpt_on" name="e.RepeatAgenda.RptOnWkDay" value="@rsv.RA_RptOnWkDay" />

                    <div class="form-group">
                        <div id="errorMsg" class="col-sm-12">@rsv.ErrorMsg</div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label formlb" for="title">預約會議室</label>
                        <div class="col-sm-3">
                            <select id="RoomList" class="form-control" name="e.Room" data-selectd-value="@rsv.Room"></select>
                        </div>
                        <label class="col-sm-3">預約者：</label>
                        <div class="col-sm-3">
                            <label id="lbCreator"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label formlb" for="Agenda">會議名稱</label>
                        <div class="col-sm-9">
                            <input type="text" id="Agenda" name="e.Agenda" class="form-control Agenda input-sm required" value="@rsv.Agenda" required autocomplete="off" maxlength="100" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label formlb" for="StartDate">預約時間</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control required date" id="StartDate" name="e.StartDate" readonly="readonly" autocomplete="off" value="@rsv.StartDate" required >
                            <select id="StartTime" class="form-control" name="e.StartTime" data-selectd-value="@rsv.StartTime" ></select>
                            <input type="text" class="form-control required date" id="EndDate" name="e.EndDate" readonly="readonly"  autocomplete="off" value="@rsv.EndDate" >
                            <select id="EndTime" class="form-control" name="e.EndTime" data-selectd-value="@rsv.EndTime"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label formlb" for="Note">備註</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" rows="5" required id="Note" name="e.Note" value="@rsv.Note" maxlength="500">@rsv.Note</textarea>
                        </div>
                    </div>  
                     <div class="form-group">
                        <div class="col-sm-3"><div class="isRepeatable"><span>@*Repeat*@ 顯示頻率：</span><input type='checkbox' name='e.IsRepeat' class="eIsRepeat" data-isRepeat="@rsv.IsRepeat" /></div></div>
                        <div class="col-sm-9"><span class="summary"></span></div>
                        <div class="col-sm-12">
<table class="table rpt_table">
    <tr><td class="rpt-title td-rpt-top">@*Repeats:*@ 顯示頻率：</td>
        <td class="td-rpt-top">
            <select id="ddl_rpts" name="e.RepeatAgenda.RptTyp" data-summary=", 每週的 {}"></select>
            <span class="rpt_sp">@*Every*@ 每</span>
            <select id="ddl_rpt_every" name="e.RepeatAgenda.RptEvery" data-summary=", 間隔每 {0} 週的 {1}"></select>
            <span class="rpt_sp">@*Weeks*@ 週</span></td></tr>
    @*<tr><td class="rpt-title">Repeat on:</td><td><div id="cks_rpt_on"></div></td></tr>*@
    <tr><td class="rpt-title"> 起始時間：</td><td>@*<span class="rpt_sp brown" id="a_starts_on"></span>*@<span class="rpt_sp">(預約起始時間)</span> @*<input id="input_starts_on" name="e.RepeatAgenda.RptStartDate" />*@</td></tr>
    <tr><td class="rpt-title">@*Ends:*@ 結束日期：</td><td>
        <div id="input_ends_on" >
           <div class='rdo_list' data-v="@rsv.RA_RptEndTyp">
            <input type=radio name='e.RepeatAgenda.RptEndTyp' value="Occurences" /><span class="rpt_sp">@*After*@ 顯示 </span>
            <select name='e.RepeatAgenda.RptEndAfterOccur' id='after_occurs' data-v="@rsv.RA_RptEndAfterOccur" class='ends_on after_occurs' data-summary=', 重複 {} 次後停止'></select>
            <span class="rpt_sp">@*occurences*@ 次後</span></div>
           <div class='rdo_list'>
            <input type=radio name='e.RepeatAgenda.RptEndTyp' value="onWhatDay" /><span class="rpt_sp">@*On*@ 於</span>
            <input name='e.RepeatAgenda.RptEndDay' id='endson_whatday' data-v="@rsv.RA_RptEndDay" class='ends_on endson_whatday' data-summary=', 直到 {} 後停止' /></div>
         </div>
         </td></tr>
</table>
                        </div>
                        @*<div class="col-sm-12">
                        <table class="table rpt_table_recur"><tr>
                        <td class="rpt-title">Recurring Evnet:</td>
                        <td class="rpt_td2">
        <label class="rpt_sp lb_recur"><input type="radio" class='recurTyp' name="e.RepeatAgenda.RecurTyp" value="All" data-summary=", all event" />All evnets</label>
        <label class="rpt_sp lb_recur"><input type="radio" class='recurTyp' name="e.RepeatAgenda.RecurTyp" value="Following" data-summary=", following events" />Following events</label>
        <label class="rpt_sp lb_recur"><input type="radio" class='recurTyp' name="e.RepeatAgenda.RecurTyp" value="OnlyThis" data-summary=", only this event" />Only this event</label>
                    </td></tr>
                    </table>
                    </div>*@

                    <div class="modal-footer">
                        <button class="btn" id="btnClear">Clear</button>        
                        <button class="btn" id="btnRemove">Remove</button>
                        <button class="btn btn-primary" id="btnSubmit" type="submit">Save Changes</button>
                        @*<button class="btn btn-default" data-dismiss="modal">Close</button>*@
                    </div>
                    
                    </div>
                </form>
               

            </div>

        </div>
    </div>

</div>



