﻿@{
    Layout = null;
}
<style>
    .typ{ display:inline-block; font-size:2em; line-height:2em; width:25%; margin:20px; height:100px; text-align:center;  float:left; border:solid 1px #aaa; }
    .typ:hover { background-color:#555; color:#fff;}
</style>
<h2>請定義哪種資產?</h2>
<a href="../Asset/MobileQuery/IT" class="typ">IT資產</a>
<a href="../Asset/MobileQuery/Fixed" class="typ">固定資產</a>
